/* :root {
  --primary-color: #007bff;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  align-items: center;
}
.text-styling {
  text-align: right;
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.112px;
  background: var(
    --Primary,
    linear-gradient(274deg, #92a3fd 0%, #9dceff 124.45%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
.signIn-h1 {
  margin: 16px 16px 64px 16px;
  font-family: Poppins;
  font-size: 34px;

  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.25px;
}
.signIn-input {
  height: 56px;
  margin: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-radius: 15px;
  border: none;
  background: var(--neutrals-50, #f2f4f7);

  text-indent: 10px;
}

input::placeholder {
  font-size: 16px;
}

.styled-button {
  margin: 16px;
}
.forgot-password {
  text-align: center;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.112px;

  background: var(
    --Secondary,
    linear-gradient(274deg, #c58bf2 0%, #eea4ce 124.45%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
text {
  color: var(--neutrals-500, #778293);
  text-align: center;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.112px;
}
div.continue {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
img.google {
  padding: 16px 8vh;
  gap: 8px;

  border-radius: 15px;
  border: 1px solid var(--neutrals-100, #e5e8ec);
}

div.center-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
