/* .services-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.what-services-title {
  font-family: Poppins;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0.25px;
}
.what-services-paragraph {
  margin: 0px 16px 0px 16px;
  font-family: Poppins;
  font-weight: 100;
}
.service-card{
  display: flex;
  align-items: center;
  
  height: 18vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
  border-radius: 15px;
}
.service-card-camera-icon{
  padding: 20px;
  border-radius: 20%;
  border: 1px solid;
} */





.floating-stripe {
  display: flex;
  justify-content: center;
  background-color: #fff; 
  border: 1px  solid #c4c4c4;
  /* color: #fff; */
  /* padding: 10px; */
  height: 5rem;
  position: fixed; 
  bottom: 0; /* Place the stripe at the bottom of the viewport */
  left: 0; /* Align the stripe to the left */
  width: 100%; /* Make the stripe span the entire width */
  z-index: 1000;
}
  


